In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests 
import os

import json
#from config import api_key



# Import API key
from api_keys import bd_key
#ajayakv-rest-countries-v1.p.rapidapi.com.configure(api_key=rapid_api_key)

In [3]:
#import CSV file 
countries_df = pd.read_csv("C:/Users/19739/Desktop/New folder/Project_2/Resources/Countries.csv")
countries_df

,Rank,Country,Value exported in 2020 (USD thousand),Trade balance in 2020 (USD thousand),Share in world exports (%)
0,1,China,"2,498,569,866","429,619,611",13.3
1,2,United States,"1,645,174,335","-923,222,114",8.8
2,3,Germany,"1,486,462,772","250,164,041",7.9
3,4,Netherlands,"721,301,085","74,548,537",3.8
4,5,Japan,"705,842,013","-15,122,432",3.8
...,...,...,...,...,...
220,224,Norfolk Island,3033,-24081,0.0
221,225,Western Sahara,2986,-18686,0.0
222,226,Wallis and Futuna Islands,2053,-43469,0.0
223,227,Pitcairn,1931,-4057,0.0
224,228,British Antarctic Territory,4,4,0.0

In [4]:
#Cleaining Data 
#Keep Index, Country, Value exported in 2020
cleaned_df = countries_df.drop(columns=['Rank', 'Trade balance in 2020 (USD thousand)', 'Share in world exports (%)'])
cleaned_countries_df = cleaned_df.rename(columns={'Country': 'country'})
#print(df_new)
alpha_countries_df = cleaned_countries_df.sort_values(by='country')
final_countries_df = alpha_countries_df.set_index('country')
#final_countries_df
final_countries_df.to_csv('C:/Users/19739/Desktop/New folder/Project_2/exported/export_value.csv')

In [5]:

#API from CDC; shows # of NJ cases by county for June 2021

url = "https://api.bigdatacloud.net/data/country-info?code=au&localityLanguage=en&key="

#how to filter for NJ first, date, and then 20000 cases?
query_url = url + bd_key

In [6]:

response = requests.get(query_url)
print(response.url)

https://api.bigdatacloud.net/data/country-info?code=au&localityLanguage=en&key=de46c01e19a741798c28db3bee5c2bc2

In [7]:
data = response.json()
# Use json.dumps to print the json
print(json.dumps(data, indent=4, sort_keys=True))

#print data frame

df = pd.DataFrame(data, index=[0])
df

#df = pd.DataFrame({'Country': Country}, index=[0])
#df

{
    "callingCode": "61",
    "continents": [
        {
            "continent": "Oceania",
            "continentCode": "OC"
        }
    ],
    "countryFlagEmoji": "\ud83c\udde6\ud83c\uddfa",
    "currency": {
        "code": "AUD",
        "minorUnits": 2,
        "name": "Australian Dollar",
        "numericCode": 36
    },
    "geonameId": 2077456,
    "isoAdminLanguages": [
        {
            "isoAlpha2": "en",
            "isoAlpha3": "eng",
            "isoName": "English",
            "nativeName": "English"
        }
    ],
    "isoAlpha2": "AU",
    "isoAlpha3": "AUS",
    "isoName": "Australia",
    "isoNameFull": "Australia",
    "m49Code": 36,
    "name": "Australia",
    "unRegion": "Oceania/Australia and New Zealand",
    "wbIncomeLevel": {
        "id": "HIC",
        "iso2Code": "XD",
        "value": "High income"
    },
    "wbRegion": {
        "id": "EAS",
        "iso2Code": "Z4",
        "value": "East Asia & Pacific"
    },
    "wikidataId": "Q408"
}

,isoAlpha2,isoAlpha3,m49Code,name,isoName,isoNameFull,isoAdminLanguages,unRegion,currency,wbRegion,wbIncomeLevel,callingCode,countryFlagEmoji,wikidataId,geonameId,continents
0,AU,AUS,36,Australia,Australia,Australia,"{'isoAlpha3': 'eng', 'isoAlpha2': 'en', 'isoNa...",Oceania/Australia and New Zealand,NaN,NaN,NaN,61,ðŸ‡¦ðŸ‡º,Q408,2077456,"{'continent': 'Oceania', 'continentCode': 'OC'}"

In [8]:
capitals_df = pd.read_json("C:/Users/19739/Desktop/New folder/Project_2/countries.json")
capitals_df

,country,capital,type,_id
0,Abkhazia,Sukhumi,countryCapital,7b45e9950a03bd78fef5b2eb0626e06c
1,Afghanistan,Kabul,countryCapital,7b45e9950a03bd78fef5b2eb0626e6be
2,Akrotiri and Dhekelia,Episkopi Cantonment,countryCapital,7b45e9950a03bd78fef5b2eb0626f280
3,Albania,Tirana,countryCapital,7b45e9950a03bd78fef5b2eb0626f359
4,Algeria,Algiers,countryCapital,7b45e9950a03bd78fef5b2eb0626f8d7
...,...,...,...,...
243,Wallis and Futuna,Mata-Utu,countryCapital,7b45e9950a03bd78fef5b2eb062e9554
244,Western Sahara,El AaiÃºn,countryCapital,7b45e9950a03bd78fef5b2eb062ea1c7
245,Yemen,SanaÃ¡,countryCapital,7b45e9950a03bd78fef5b2eb062ea318
246,Zambia,Lusaka,countryCapital,7b45e9950a03bd78fef5b2eb062ea617
247,Zimbabwe,Harare,countryCapital,7b45e9950a03bd78fef5b2eb062ea7a7

In [9]:
cleaned_capitals_df = capitals_df.drop(columns=['type', '_id',])
alpha_capitals_df = cleaned_capitals_df.sort_values(by='country')
final_capitals_df = alpha_capitals_df.set_index('country')
#final_capitals_df
final_capitals_df.to_csv('C:/Users/19739/Desktop/New folder/Project_2/exported/capitals.csv')

In [88]:
#frames = [alpha_capitals_df, alpha_countries_df]

#merged_df = pd.concat(frames)
#merged_df

In [21]:


final_countries_df.merge(final_capitals_df,how='left', on='country', right_index=True, left_index=False)




#pd.merge(df1, df2, left_index=True, right_index=True)



# pd.concat([df1, df2], axis=1)

                           Value exported in 2020 (USD thousand) capital
country
   Nepal                                                  966600     NaN
  Switzerland                                        314,145,207     NaN
 Afghanistan                                             1266174     NaN
 Albania                                                 2728415     NaN
 Algeria                                              34,746,213     NaN
...                                                          ...     ...
 Wallis and Futuna Islands                                  2053     NaN
 Western Sahara                                             2986     NaN
 Yemen                                                   1453207     NaN
 Zambia                                                  6962507     NaN
 Zimbabwe                                                4279384     NaN

[225 rows x 2 columns]